.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .header__img-logo {

    width: 150px;
    vertical-align: top;
    margin-top: -2%;
  
  }

  .header {
    grid-area: h;
    background-color: rgb(84, 86, 85);
    text-align: center;
    padding: 50px;
    margin: 1 auto;
  }

  /* reborn commit "class-to-module" */