.content {
    grid-area: c;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 700px;
    background-color: rgb(220, 225, 215);
    
    /* color: aqua; */
  }
  
  .content__image {
  
    /* width: 100%; */
    overflow: hidden;
  }
  
  .content__img_ava { 
    margin: 10px auto;
    width: 15%;
    text-align: start;
  }
  
  .content div {
    margin-left: 20px;
    text-align: left;
  }

  .item {
      color: aquamarine
  }

  .content_wall {
    width: 1fr;
    height: 1fr;
    overflow: auto;
  }