.content {
  grid-area: c;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 700px;
  background-color: rgb(220, 225, 215);
  padding: 0%;
  margin: 0%;

}


.item {
  color: rgb(198, 5, 186);
  font-weight: 300;
  padding-bottom: 20px;
  padding-top: 20px;
  
}

.item img {
  height: 100px;
  width: 110px;
  border-radius: 50%;
}

.item_likeImage {
  /* width: 10px;
    height: 10px; */
}

.MyPosts_header {
  padding: 10px;
}