.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: max-content 1fr;
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    margin-top: -9px;
    text-decoration: none;
}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .dialog {
    padding: 10px;
    color: #61dafb;
    text-decoration: none;

}

.messages {
    padding: 10px;
}

.messages .message {
    padding: 10px;

}

.NavLink {
    color: brown;
    text-decoration: none;
}

.addMessage {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr max-content;
    grid-column: 1 / 4;
}

